.navbar {
    position: fixed;
    width: max-content;
    height: max-content;
    display: flex;
    z-index: 50;
    flex-direction: column;
    border-radius: 2.5mm;
    padding: 2mm;
    margin-top: 10vh;
    margin-left: 15vh;
    background-color: rgba(13, 73, 40, 0.23);
    box-shadow: rgba(0, 0, 0, 0.2) -5px 5px 20px;
}

@media screen and (max-width: 1200px) {
    .navbar {
        position: absolute;
        margin-left: 0px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 30px;
    }
}

.navbar-btn {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 7px;
    border: none;
    border-radius: 1.5mm;
    width: 215px;
    height: 32px;
    color: #332F2F;
    background-color: transparent;
    cursor: pointer;
}

.navbar-btn:hover {
    color: white;
    background-color: rgba(13, 73, 40, 0.92);
    transition: .309s;
}

.navbar-btn-active {
    color: white;
    background-color: rgba(13, 73, 40, 0.92);
    transition: .309s;
}