@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: #0D4928;
}

h2 {
    font-size: 27px;
    font-weight: 500;
    color: #0D4928;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: #AD1919;
}

p {
    font-size: 18px;
    font-weight: 400;
}

button {
    height: fit-content;
    border: none;
    border-radius: 1.5mm;
    color: #332F2F;
    background-color: rgba(116, 129, 121, 0.35);
}

button:hover {
    color: white;
    background-color: rgba(13, 73, 40, 0.92);
    transition: .309s;
    cursor: pointer;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.title--center {
    text-align: center;
}

.default-div {
    display: flex;
    gap: 0;

    position: absolute;
    left: 0;
    right: 0;
    height: fit-content;

    margin-left: 300px;

    animation-name: appear;
    animation-duration: 0.6s;
}

.navbar {
    position: fixed;
    width: max-content;
    height: max-content;
    display: flex;
    z-index: 50;
    flex-direction: column;
    border-radius: 2.5mm;
    padding: 2mm;
    margin-top: 10vh;
    margin-left: 6vw;
    background-color: rgba(13, 73, 40, 0.23);
    box-shadow: rgba(0, 0, 0, 0.2) -5px 5px 20px;
}

@media screen and (max-width: 1200px) {
    .navbar {
        position: absolute;
        margin-top: 20px;
        margin-left: 0px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 30px;
    }

    .default-div {
        top: 360px;
        margin-left: 0;
        justify-content: center;
    }
}

.navbar-btn {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 7px;
    border: none;
    border-radius: 1.5mm;
    width: 215px;
    height: 32px;
    color: #332F2F;
    background-color: transparent;
    cursor: pointer;
}

.navbar-btn:hover {
    color: white;
    background-color: rgba(13, 73, 40, 0.92);
    transition: .309s;
}

.navbar-btn--active {
    color: white;
    background-color: rgba(13, 73, 40, 0.92);
    transition: .309s;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    gap: 2vw;
    margin: 0px 60px;

    position: relative;
    width: 100%;
    height: fit-content;
    padding-left: 5vw;
    padding-right: 5vw;
}

.info-box {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 10px 10px;
    border-width: 50px;
    border-radius: 2.5mm 2.5mm 0 0;
    color: #3A3535;
    background-color: #F0F0F0;
}

.info-box__dato {
    font-weight: 400;
}

.tanda-matricula {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 0.5em;

    font-size: 20px;
    font-weight: 700;
    padding: 10px;

    color: #1E1B1B;
    background-color: #F0F0F0;
}

#lbl-matricula {
    width: 100%;
    height: fit-content;
    padding-left: 0.5em;
}

.tanda-params {
    margin: 0em 0.5em;
    width: fit-content;
}

.tanda__dato {
    color: #AD1919;
    margin-right: 2em;
}

.sub-title--left {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    padding: 4px 10px;
    color: #0D4928;
    border-radius: 8px;
    background-color: #FCFCFC;
}

.sub-title--left label {
    margin-left: 0.3em;
}

.tabla-cursos {
    width: 100%;
}

.tabla-cursos table {
    border-collapse: collapse;
    width: 100%;
}

.tabla-cursos thead {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #3A3535;
    background-color: #E2E0E0;
}

.tabla-cursos td {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 4px 8px;
    /* width: 573.03px; */
    color: #3A3535;
    background-color: #F0F0F0;
}

.tabla-cursos button {
    padding: 6px;
    font-size: 16px;
    font-weight: 500;
}

#error-tanda {
    display: flex;
    justify-content: center;
}

#error-cursos {
    display: flex;
    justify-content: center;
}

#botones-finales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2em;

    width: 100%;
    padding: 15px 10px;
    margin: 15px 0px;
    box-sizing: border-box;
    border-width: 50px;
    border-radius: 0 0 2.5mm 2.5mm;

    background-color: #F0F0F0;
}

#botones-finales button {
    height: 38px;
    font-size: 16px;
    font-weight: 500;
}

.groups-popup__background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    z-index: 100;

    animation-name: appear;
    animation-duration: 0.3s;
}

.groups-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 100px;
    gap: 30px;

    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #D9D9D9;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.groups-popup__title {
    width: fit-content;
    height: fit-content;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #0D4928;
}

.groups-popup__text {
    width: fit-content;
    height: fit-content;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
}

.groups-popup button {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}

.groups-table {

    width: 25em;
    height: fit-content;
    text-align: center;
    vertical-align: middle;

    font-weight: 400px;
    font-size: 16px;

    line-height: 20px;
    border-width: 10px;
    border-radius: 0px 0px 12px 12px;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    border-collapse: collapse;
}

.groups-table thead {
    background-color: rgba(0, 0, 0, 0.23);
}

.groups-table tbody {
    background-color: #eaeaea;
}

.groups-table td {
    height: 30px;
}