@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.popup-background {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 10;

  animation-name: appear;
  animation-duration: 0.2s;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 60px;
  gap: 30px;

  position: absolute;
  width: 600px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #D9D9D9;
  border-radius: 28px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.txtpopuptitle {
  width: 474px;
  height: 24px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #0D4928;
}

.txtcourse {
  width: 286px;
  height: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
}

.btnClosePopup {
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 1.5mm;
  color: #332F2F;
  background-color: rgba(116, 129, 121, 0.35);
  padding: 10px;

  justify-content: center;
  align-items: center;

  transition-duration: 0.3s;
}

.btnClosePopup:hover {
  color: white;
  background-color: rgba(13, 73, 40, 0.92);
  transition: .309s;
  cursor: pointer;
}