@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: #0D4928;
}

h2 {
    font-size: 27px;
    font-weight: 500;
    color: #0D4928;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    color: #AD1919;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.body {
    width: auto;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 2vw;
}

.navbar {
    position: relative;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 2.5mm;
    padding: 2mm;
    background-color: rgba(13, 73, 40, 0.23);
}

.navbar button {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 7px;
    border: none;
    border-radius: 1.5mm;
    width: 215px;
    height: 32px;
    color: #332F2F;
    background-color: transparent;
    cursor: pointer;
}

.navbar button:hover {
    color: white;
    background-color: rgba(13, 73, 40, 0.92);
    transition: .309s;
}

.contenido {
    width: 50vw;
    height: fit-content;
    text-align: left;
    /* float: right; */
}

.generalInfo {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 2.5mm 2.5mm 0 0;
    color: #3A3535;
    background-color: #F0F0F0;
}

.dato {
    font-weight: 400;
}

#errorTanda {
    display: flex;
    justify-content: center;
}

.tandaMatricula {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.5em;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
    background-color: #F0F0F0;
    color: #1E1B1B;
}

.labelTanda {
    width: 100%;
    padding-left: 0.5em;
}

.tandaParams {
    margin: 0em 0.5em;
}

.tandaDatos {
    color: #AD1919;
    margin-right: 2em;
    /* font-weight: 400; */
}

.obligatorias {
    font-size: 20px;
    font-weight: 700;
    padding: 4px 10px;
    color: #3A3535;
    background-color: #FCFCFC;
}

#errorCursos {
    display: flex;
    justify-content: center;
}

.tabla table {
    border-collapse: collapse;
}

.tabla th {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 573.03px;
    color: #3A3535;
    background-color: #E2E0E0;
}

.tabla td {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 573.03px;
    color: #3A3535;
    background-color: #F0F0F0;
}

.tabla button {
    height: fit-content;
    padding: 6px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 1.5mm;
    color: #332F2F;
    background-color: rgba(116, 129, 121, 0.35);
}

.tabla button:hover {
    color: white;
    background-color: rgba(13, 73, 40, 0.92);
    transition: .309s;
    cursor: pointer;
}

.electivas {
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #0D4928;
    background-color: #FCFCFC;
}

.botonesFinales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2em;
    width: auto;
    height: auto;
    padding: 15px 10px;
    border-radius: 0 0 2.5mm 2.5mm;
    background-color: #F0F0F0;
}

#btnImprimir {
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 1.5mm;
    border: none;
    color: #332F2F;
    background-color: rgba(116, 129, 121, 0.35);
}

#btnImprimir:hover {
    color: white;
    background-color: rgba(13, 73, 40, 0.92);
    transition: .309s;
    cursor: pointer;
}

#btnOtro {
    height: 38px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 1.5mm;
    color: #332F2F;
    background-color: rgba(116, 129, 121, 0.35);
}

#btnOtro:hover {
    color: white;
    background-color: rgba(13, 73, 40, 0.92);
    transition: .309s;
    cursor: pointer;
}